<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibititec.ldapp" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DetalheActivity"
            android:label="@string/title_activity_detalhe"
            android:parentActivityName=".ListComercianteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListComercianteActivity"
            android:label="@string/title_activity_listaEmpresas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".CidadeActivity"
            android:label="@string/title_activity_cidade"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.UtilidadePulicaActivity"
            android:label="@string/title_activity_utilidade_pulica"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.PrefeituraActivity"
            android:label="@string/title_activity_prefeitura"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.CamaraActivity"
            android:label="@string/title_activity_camara"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.TransporteActivity"
            android:label="@string/title_activity_transporte"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.SantaCasaActivity"
            android:label="@string/title_activity_santa_casa"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".utilidade_publica.PoliciaActivity"
            android:label="@string/title_activity_policia"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <activity
            android:name=".MapaActivity"
            android:label="@string/title_activity_mapa"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
>
        </activity>
        <!-- <activity -->
        <!-- android:name=".adapter.UtilidadeAdapter" -->
        <!-- android:label="@string/title_activity_utilidade_adapter" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->


        <!-- APPODEAL -->
        <!--
        <uses-feature android:name="android.hardware.location" android:required="false" />
        <uses-feature android:name="android.hardware.location.network" android:required="false" />
        -->

        <meta-data
            android:name="com.appodeal.framework"
            android:value="android" />

        <receiver
            android:name="com.appodeal.ads.AppodealPackageAddedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.appodeal.ads.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appodeal.ads.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appodeal.ads.LoaderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="org.nexage.sourcekit.mraid.MRAIDBrowser"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ru.mail.android.mytarget.ads.MyTargetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="org.nexage.sourcekit.vast.activity.VASTActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.appodeal.ads.networks.SpotXActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.unity3d.ads.android.view.UnityAdsFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.ads.android2.view.UnityAdsFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.vungle.publisher.FullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.OverlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme" />

        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="39" />
        </service>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.yandex.mobile.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager"
            android:enabled="true" />

        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- FIM APPODEAL -->
        <activity
            android:name=".utilidade_publica.FarmaciasPlantaoActivity"
            android:label="Farmácias de Plantão"
            android:parentActivityName=".utilidade_publica.UtilidadePulicaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".utilidade_publica.transporte.VimaraActivity"
            android:label="@string/title_activity_vimara"
            android:parentActivityName=".utilidade_publica.TransporteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".utilidade_publica.transporte.BassamarActivity"
            android:label="@string/title_activity_bassamar"
            android:parentActivityName=".utilidade_publica.TransporteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".utilidade_publica.transporte.SertanejaActivity"
            android:label="@string/title_activity_sertaneja"
            android:parentActivityName=".utilidade_publica.TransporteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".utilidade_publica.transporte.TaxistasActivity"
            android:label="@string/title_activity_taxistas"
            android:parentActivityName=".utilidade_publica.TransporteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".adapter.TransporteAdapter" >
        </activity>
        <activity
            android:name=".adapter.TextoImagemAdapter"
            android:label="@string/title_activity_cidade_adapter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.IbitipocaMainActivity"
            android:label="@string/title_activity_ibitipoca_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.PousadasChalesActivity"
            android:label="@string/title_activity_pousadas_chales"
            android:parentActivityName=".Ibitipoca.IbitipocaMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.CasasActivity"
            android:label="@string/title_activity_casas"
            android:parentActivityName=".Ibitipoca.IbitipocaMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.ParqueActivity"
            android:label="@string/title_activity_parque"
            android:parentActivityName=".Ibitipoca.IbitipocaMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.RestaurantesActivity"
            android:label="@string/title_activity_restaurantes"
            android:parentActivityName=".Ibitipoca.IbitipocaMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ibitipoca.VilaActivity"
            android:label="@string/title_activity_vila"
            android:parentActivityName=".Ibitipoca.IbitipocaMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
